{% extends "base.html" %} {% block content %}
<div class="w-full mt-8"></div>
<h3 class="mt-4 mb-2 text-5xl font-bold tracking-tight">Who am I? 🤔</h3>
<section
  class="flex flex-col items-center m-4 prose text-justify text-white md:text-left md:m-0 md:w-1/2 md:prose-lg lg:prose-xl"
>
  Hi, my name is Gabriel Kaszewski, and I am a Bioinformatics student 🧬 and
  self-taught full-stack developer 💻. I started coding when I was 11 🚀. I love
  solving problems and writing software 👨‍💻. Currently, I am working as a Python
  Developer at digimonkeys.com 🐒. I am very passionate about Computer Science
  💾.
</section>
<h3 class="mt-4 mb-2 text-5xl font-bold tracking-tight">Skills 🛠️</h3>
<section class="flex flex-wrap justify-center w-1/2 gap-4"></section>
<h3 class="mt-4 mb-2 text-5xl font-bold tracking-tight">Experience 📈</h3>
<section class="flex flex-col flex-wrap justify-center gap-4 m-4"></section>
{% endblock content %}
